html, body {
  font-size: 18px;
}

aside#sidebar {
  padding-block: 2rem;
  font-size: .75rem;
  background: none;

  @media only screen and (min-width: 768px) {
    position: sticky;
    top: 0;
  }
}
